body,
html,
{
    background: black;
}

body,
button,
input,
label,
textarea {
    font-family: "GothamRoundedMedium";
    font-weight: 400;
    color: #fff
}

input,
label,
textarea {
    color: #555;
}

h1 {
    font-size: 3rem;
    font-family: "GothamRoundedLight";
    font-weight: 100;
    letter-spacing: .3rem;
    padding: 0 32pt;
    line-height: 4rem;
}

a,
h1,
h2 {
    text-transform: uppercase
}

h2 {
    letter-spacing: .35rem;
    line-height: 2.5rem;
    margin: 32pt 40pt 0 40pt;
}

p {
    font-family: "Karla", sans-serif;
}

.wow {
    visibility: hidden;
}

#main_logo {
    padding: 0 0 5pt 0;
    max-width: 70%;
    max-height: 400px;
}

.intro h1 {
    /* font-family: "GothamRoundedMedium"; */
    /* font-weight: 400; */
    font-size: 3.5rem;
    line-height: 4rem;
    padding: 0;
}

.intro h2 {
    padding: 0;
    margin: 0;
}

#scroll_links {
    margin: 3rem 0;
}

h2,
h2 a {
    font-size: 1.5rem;
}

a {
    color: #fff;
    font-family: "GothamRoundedBook";
    font-weight: 300;
    font-size: 1.25rem;
    border-bottom: 1px solid #fff;
    text-decoration: none
}

h2 a {
    font-weight: 900;
}

a:active,
a:hover {
    color: #555;
    border-bottom: 1px solid #555;
}

#mail-us {
    padding: 1rem 0;
}

#mail-link {
    font-size: 1rem;
    font-family: "GothamRoundedMedium";
    text-transform: none;
}

.link_centered {
    min-width: 150px;
    display: inline-block;
    letter-spacing: .15rem;
    padding-bottom: 16pt;
}

.section-wrapper {
    padding: 56pt 0;
    box-sizing: border-box;
    width: 90%;
    margin: 0 5%;
    text-align: center;
}

.section {
    background: black;
    background: linear-gradient(to bottom, hsla(23, 30%, 0%, 0.50), hsl(0, 90%, 4%)), url(../img/chessboard.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
}

.section.members h2 {
    margin-bottom: 1rem;
}

.members-box, #office-bearers {
    margin: 0 10%;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 1rem;
    grid-column-gap: 1rem;
}

.section.about {
    /* background: rgb(17, 1, 1); */
    /* color: rgb(255, 255, 255); */
    background: #ffffff;
    color: rgb(17, 1, 1);
}

.section.intro {
    min-height: 100vh;
    /*    margin-bottom: -60px;
    box-sizing: border-box;
    min-height: 100vh;*/
}

.section.about .bullet {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    margin: 40pt 56pt 0 56pt;
    box-sizing: border-box;
}

.section.about .bullet img {
    width: 100px;
    padding-bottom: 32pt;
}

.section.about .bullet h2 {
    padding: 0 0 16pt 0;
    margin: 0;
}

.section.about .description {
    font-family: "Karla", sans-serif;
    font-weight: 400;
    font-size: 1.4rem;
    text-align: center;
    line-height: 1.7rem;
    padding: 1rem 5%;
}

.section.about .bullet p {
    margin: 0 auto;
    display: inline-block;
    font-family: "Karla", sans-serif;
    font-weight: 400;
    font-weight: 100;
    font-size: 1.2rem;
    text-align: center;
    max-width: 250px;
    letter-spacing: -.04rem;
    word-spacing: -.02rem;
    line-height: 1.7rem
}

.section.events {
    background: linear-gradient(to bottom right, hsla(0, 90%, 4%), hsla(90, 0%, 0%, 0.80)), url(../img/pieces.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
}

.section.members {
    background: linear-gradient(to bottom right, hsla(23, 80%, 4%), hsla(90, 0%, 4%, 0.80));
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover
}

.section.gallery {
    background: #160808;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover
}

.carousel {
    margin: 2rem 0 4rem 0;
    background: none;
}

.carousel-cell {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 200px;
    margin-bottom: 0.5rem;
}

.carousel-cell-image {
    display: block;
    height: 400px;
    padding: 0 1rem;
    transition: opacity 0.4s;
    opacity: 0;
}

.carousel-cell-image.flickity-lazyloaded,
.carousel-cell-image.flickity-lazyerror {
    opacity: 1;
}

.carousel-caption {
    margin-top: 1rem;
}

.carousel.is-fullscreen {
    background: #160808 !important;
    margin: 0;
}

.carousel.is-fullscreen .carousel-cell {
    height: 100%;
    width: 100%;
}
.carousel.is-fullscreen .carousel-cell-image {
    height: auto;
    width: auto;
    max-height: 90%;
    max-width: 95vw;
    margin: 1% 0 0 0;
}

.flickity-page-dots .dot {
    width: 12px;
    height: 12px;
    opacity: 1;
    background: transparent;
    border: 2px solid white;
}

.flickity-fullscreen-button {
    width: 28px !important;
    height: 28px !important;
    padding: 0 !important;
    border: 2px solid #333333 !important;
}

/* .section.signup { */
/*     /1* fallback for older browsers *1/ */
/*     background: url(../img/stadium.jpg) no-repeat center center; */
/*     /1* newer browsers: color gradient with image *1/ */
/*     background: linear-gradient(to bottom right, hsla(23, 30%, 0%, 0.80), hsla(0, 90%, 4%)), url(../img/stadium.jpg) no-repeat center center; */
/*     -webkit-background-size: cover; */
/*     -moz-background-size: cover; */
/*     -o-background-size: cover; */
/*     background-size: cover; */
/*     background-attachment: fixed; */
/* } */

.section.contact {
    background: #100505;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover
}

.form-group {
    color: #555;
    margin-top: 40pt;
    display: inline-block;
    padding: 32pt;
    background: rgba(255, 255, 255, .75);
    border-radius: 8pt;
}

.form-group input.required,
.form-group textarea.required,
.form-group textarea.required:focus {
    font-family: "GothamRoundedLight";
    font-weight: 300;
    font-size: 1rem;
    background: 0;
    border: 2px solid rgba(0, 0, 0, .1);
    border-radius: 4pt;
    width: 250px;
    padding: 8pt;
    margin: 0 0 32pt 0;
}

.form-group textarea.required,
.form-group textarea.required:focus {
    font-size: 1rem
}


button,
button#sign_up_button,
.submit-button,
.submit-button:focus,
.submit-button:hover {
    background: none;
    border: 2px solid #fff;
    padding: 8pt 16pt;
    text-transform: uppercase;
    border-radius: 4pt;
    cursor: pointer;
    font-size: 1.25rem !important;
    letter-spacing: .3rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    font-family: "GothamRoundedMedium" !important;
    font-weight: 400 !important;
}

.form-group .submit-button,
.form-group .submit-button:focus {
    color: #555;
    border: 2px solid #555;
    margin: 0;
}

button#sign_up_button:hover,
.form-group .submit-button:hover {
    background: #fff;
    color: #555;
    border: 2px solid #fff;
}

label {
    color: #555;
    padding: 0 0 8pt 0;
    text-align: left;
    display: block
}

.required_label {
    float: right;
    color: #c82b37;
    letter-spacing: .15rem;
    font-size: .75rem;
    line-height: 1rem
}

@media (max-width:800px) {
    .members-box {
        grid-template-columns: repeat(2, 1fr);
    }    
}

@media (max-width:600px) {
    .carousel-cell {
        min-width: 100px;
    }
    .carousel-cell-image {
        height: 200px;
    }
    .flickity-page-dots .dot {
        width: 6px !important;
        height: 6px !important;
        margin: 0 4px !important;
    }

    .members-box, #office-bearers {
        grid-template-columns: 1fr;
    }
}

@media (max-width:420px) {
    .form-group input.required,
    .form-group input:focus,
    .form-group textarea.required,
    .form-group textarea.required:focus {
        width: 200px
    }
}

